@model IEnumerable<project.Models.project>
@{
	Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
@Styles.Render("~/Content/card.css")

<h2>Projects</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<div class="container">
	<main class="grid">
		@foreach (var item in Model)
		{
			<article>
				<div class="text">
					<h1>@Html.DisplayFor(modelItem => item.name)</h1>
					<h5 class="text-muted">End Date : @Html.DisplayFor(modelItem => item.endDate)</h5>
					<p>@Html.DisplayFor(modelItem => item.description)</p>
					<button type="button" class="btn btn-outline-primary">@Html.ActionLink("Edit", "Edit", new { id = item.projectId })</button>
					<button type="button" class="btn btn-outline-info">@Html.ActionLink("Details", "Details", new { id = item.projectId })</button>
					<button type="button" class="btn btn-outline-info">@Html.ActionLink("Delete", "Delete", new { id = item.projectId })</button>
				</div>
			</article>
		}
		
	</main>
</div>